#app{
    width: 800px;
    height: 800px;
    border: solid black 2px;
}

#titleScreenBackground{
    width: 100%;
    height: 100%;
}

.menuContainer{
    border: black solid 2px;
    border-radius: 5px;
    display: grid;
    padding: 10px;
}

.selectedMenuElem{
    border: black solid 2px;
    border-radius: 5px;
}

.menuElem{
    padding:5px;
    margin: 5px;
}

#overworldForegroundLayer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
    margin: 10px;
}

#overworldBackgroundLayer{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    width: 800px;
    height: 800px;
}

#newCharInfoContainer{
    border: solid black 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

#overworldSceneContainer{
    height: 100%;
    width: 100%;
}

#overworldMenu{
    position:absolute;
    z-index: 9;
    background:white;
}

.overworldPartyMenuContainer{
    width: 800px;
    height: 800px;
    background:white;
    position:absolute;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px 200px 200px;
}

.overworldPartyMenuElement{
    display: grid;
    padding: 20px;
    border: solid black 1px;
}

.overworldPartySelectedElem{
    border: solid red 2px;
}

#overworldDialogueMenu{
    border: solid black 2px;
    background: white;
}
.overworldPartyMenuHealthBarParent{
    border: solid black 1px;
    height: 10px;
}
.overworldPartyMenuHealthBarChild{
    height: 100%;
    background: green;
}
#battlepartymenu{
    height: 800px;
    width: 800px;
    position: absolute;
}